{% extends "base.html" %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block announce %}
  The documentation has been moved!
  <a href="https://cryton.gitlab-pages.ics.muni.cz/">
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}